<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net461" />
  <package id="Ninject.MVC5" version="3.2.1.0" targetFramework="net461" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net461" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.0.0" targetFramework="net461" />
  <package id="SharpRepository.Ioc.Ninject" version="1.4.0.0" targetFramework="net461" />
  <package id="SharpRepository.Repository" version="1.4.0.0" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net461" />
</packages>