
@{
    ViewBag.Title = "About";
}
    <img src="~/Content/Images/myPicture.jpg" class="img-responsive center-block" />
    <p class="text-center">Luke Skylama</p>
    <p class="text-center">Czestochowa University of Technology IT student</p>