html {
    height: 100% !important;
}

body {
    /* OLD Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    padding-top: 70px; /* Navbar issue */
    padding-bottom: 70px; /* Navbar issue */
}

footer {
    text-align: center;
}

#me {
    text-align: center;
}
